@media only screen and (max-width : 980px) {

  @font-face {

      font-family: "Orator Std";
      src: url("../fonts/OratorStd.ttf") format("truetype");

      }

  body {
    font-family: Orator Std, sans-serif;
  }

  #header {
    width: 960px;
    height: 200px;
    font-size: 5em;
    margin: 0px 0 5px 0;
  }

  .back {
    margin-top: 10px;
  }

  #bnt-enter {
    margin-top: 10px;
    font-size: 3em;
  }

  #bnt-enter:hover {
    margin-top: 10px;
    font-size: 3em;
  }

  .sedd {
    margin-top: 600px;
    text-align: center;
    font-size: 3em;
  }

  /* end index */

  .bnt-t2  {
    width: 100%;
    height: 130px;
    font-size: 1em;
    border: 1px solid #000;
    color: #000;
    background-color: #fff;
  }

  .bnt-t2:hover  {
    width: 100%;
    height: 130px;
    font-size: 1em;
    border: 1px solid #000;
    color: #000;
    background-color: #fff;
  }

  .bnt-t {
    width: 40%;
    height: 100%;
    font-size: 2em;
    border: 1px solid #000;
    color: #000;
    background-color: #fff;
  }

  /* end tricks page */

  h2 {
  margin-top: 70px;
  font-size: 4em;
  text-align: center;
  }


  .steps h3 {
    font-size: 3em;
    text-align: center;
  }

  .steps img {
    width: 100%;
    margin-right: 10px;
    display: block;
  }

  .steps p {
    float: right;
    margin-top: 60px;
    text-align: justify;
  }

  .video h3 {
    text-align: center;
  }

  .video iframe {
    width: 100%;
    height: 400px;
    margin: 0;
  }



}