@font-face {

      font-family: "Orator Std";
      src: url("../fonts/OratorStd.ttf") format("truetype");

      }

body {
  font-family: "Orator Std", sans-serif;
}
#header {
  width: 960px;
  height: 70px;
  border: 1px solid #000;
  border-radius: 10px 10px 10px 10px;
  font-size: 25px;
}

#header h1 {
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

#header a {
  text-decoration: none;
}

#header a:visited {
  color: #000;
}

.back video {
  text-align: center;
  width: 960px;
  height: 500px;
  opacity: 0.5;
}

#bnt-enter {
  position: absolute;
  left: 193px;
  bottom: -30px;
  font-size: 15px;
  color: #000;
  opacity: 1;
  margin-bottom: 20px;
  width: 894px;
  height: 55px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  margin-top: 70px;
}

#bnt-enter:hover {
  bottom: -30px;
  left: 193px;
  position: absolute;
  font-size: 25px;
  color: #000;
  opacity: 1;
  margin-bottom: 20px;
  width: 894px;
  height: 55px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  transition: 0.3s;
}


#bnt-enter a {
  text-decoration: none;
}

.container {
  width: 960px;
  margin: 0 auto;
}

#footer {
  background-color: #000;
  margin-top: 40px;
}

#footer p {
  text-align: center;
  color: #fff;
}

.section {
  background-size: 100%;
  background-image: url("../img/mike.gif");
  background-repeat: none;
  width: 960px;
  height: 300px;
}

.bnt {
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  color: #000;
  font-family: Orator Std, sans-serif;
  width: 180px;
  height: 55px;
  position: absolute;
  margin: 315px 0px 0 390px;
  cursor: pointer;
  border:none;
  font-size: 40px;
}

#sedd {
  display: none;
}

/* </frist page> */

/* Second page */

#section2 {
  margin-top: 120px;
}

.tricks {
  text-align: center;
  margin-top: 40px;
  height: 80px;
}

#manobras-iniciais {
  display: none;
}

#manobras-iniciais2 {
  display: none;
}

.h2 {
  margin-top: 50px;
}


.bnt-t {
  cursor: pointer;
  margin: 0;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px 10px 10px 10px;
  background-color: #444;
  color: #fff;
}

.bnt-t2 {
  cursor: pointer;
  margin: 0;
  width: 500px;
  height: 40px;
  border: none;
  border-radius: 10px 10px 10px 10px;
  background-color: #000;
  color: #fff;
}

.bnt-t2:hover{
  color: #000;
  cursor: pointer;
  margin: 0;
  width: 500px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 10px 10px 10px 10px;
  background-color: #fff;
  transition: 0.3s;
}

/* how to do */

h2 {
  margin-top: 70px;
  text-align: center;
}

.steps {
  margin: 0 0 150px 0;
}

.steps img {
  margin-right: 10px;
  float: left;
}

.steps p {
  margin-top: 60px;
  text-align: justify;
}

.video h3 {
  text-align: center;
}

.video iframe {
  width: 700px;
  height: 400px;
  margin-left: 13%;
}